* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #111;
}

/* #box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 100px;
    margin-top: 50px;
    padding-left: 20px;
    padding-top: 30px;
} */

/* button{
    margin: 40px;
    font-size: 20px;
    font-weight: 600; */
/* padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; */
/* padding: 15px 30px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 50px;
}

button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
} */

/* #box1{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#box2{
    height: 200px;
    width: 200px;
    background-color: royalblue;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
} */

/* h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(17, 196, 17);
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
    font-family: sans-serif;
}

h1 span{
    color: #fff;
    font-weight: 600;
    background-color: lightseagreen;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;

} */

#parent {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.child {
  height: 300px;
  width: 300px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}
#child1 {
  background-image: url(https://images.unsplash.com/photo-1727907142948-eda26928705b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#child2 {
  background-image: url(https://images.unsplash.com/photo-1727907146879-3e4e93abf2d7?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#child3 {
  background-image: url(https://images.unsplash.com/photo-1727162112362-7fa652112df9?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
