@tailwind base;
@tailwind components;
@tailwind utilities;


  /* *{
    color: white;
  } */

/* .first{
  width: 100%;
}
.second{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
button{
  background-color: royalblue;
  padding: 10px 25px;
  font-size: 22px;
  font-family: monospace;
  text-transform:uppercase;
  text-align: center;
  color:#fff;
  cursor: pointer;
}
.heading{
  text-align: center;
  margin-top: 5%;
} */